<h1>Este es el detalle del pedido <?php echo3?></h1><ul><li>Fecha:20/01/2019.</li><li>Total:11Euros</li><li>Pagado:No</li><li>Usuario:Ana</li></ul><h1>Productos del pedido</h1><li>Cocacola-2 Euros -11 unidades</li></ul>